.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-1 .u-form-1 {
  height: 347px;
  margin: 30px 75px 0 495px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -329px 754px 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 44px 758px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 370px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 584px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 584px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 364px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}